@{
    ViewBag.Title = "Wzorce projektowe: quizy";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}
@model WzorceProjektowe.Models.QuizSettingsModel
           
<h2>@ViewBag.Message</h2>

<p>@Model.HelloMsg</p>