@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}

@model WzorceProjektowe.Models.QuizSettingsModel
           

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h1>
   Wynik quizu
    </h1>
    

</body>
</html>
