@{
    ViewBag.Title = "Wzorce projektowe: o projekcie";
}

<h2>@ViewBag.Message</h2>
<p>Strona jest projektem semestralnym przedmiotu WZORCE PROJEKTOWE I ZAAWANSOWANE METODY PROGRAMOWAMOWANIA na kierunku Informatyka Stosowana Politechniki Gdańskiej.</p>

<p>Projekt został wykonany z wykorzystaniem platformy aplikacyjnej do budowy aplikacji internetowych ASP.NET MVC.</p>

