@{
    ViewBag.Title = "Wzorce projektowe: home.";
}

<h2>@ViewBag.Message</h2>

<p id="left">Wzorzec projektowy (ang. design pattern) – w inżynierii oprogramowania, uniwersalne, sprawdzone w praktyce rozwiązanie często pojawiających się, powtarzalnych problemów projektowych. Pokazuje powiązania i zależności pomiędzy klasami oraz obiektami i ułatwia tworzenie, modyfikację oraz pielęgnację kodu źródłowego. Jest opisem rozwiązania, a nie jego implementacją. Wzorce projektowe stosowane są w projektach wykorzystujących programowanie obiektowe. [źródło: wikipedia.org]</p>

<p>Strona umożliwia sprawdzenie swojej wiedzy z zagadnień związanych z wzorcami projektowymi za pomocą QUIZÓW. Dzięki zbieranym STATYSTYKOM pozwala sledzić postępy poszczególnych użytkowników, a także ocenić ich wiedzę, zestawiając wyniki z wynikami pozostałych użytkowników.</p>

<p>W zakładce NAUKA znaleźć można odnośniki do materiałów dydaktycznych związanych z zagadnienień wzorców projektowych.</p>

