@{
    ViewBag.Title = "Wzorce projektowe: nauka";
}

<h2>@ViewBag.Message</h2>
<p>Materiały w języku polskim:</p>
     <ul>
            <li><a href="http://www.algorytm.org/wzorce-projektowe" title="Algorytm: Wzorce projektowe">http://www.algorytm.org/wzorce-projektowe</a></li>
     </ul>

<p>Materiały w języku angielskim:</p>
     <ul>
            <li><a href="http://www.dofactory.com/Patterns/Patterns.aspx" title="DotFactory: Patterns">http://www.dofactory.com/Patterns/Patterns.aspx</a></li>
            <li><a href="http://sourcemaking.com/design_patterns" title="SourceMaking: Design Patterns">http://sourcemaking.com/design_patterns</a></li>
            <li><a href="http://www.oodesign.com/" title="Object Oriented Design: Design Patterns">http://www.oodesign.com/</a></li>
            <li><a href="http://www.algorytm.org/wzorce-projektowe" title="Algorytm: Wzorce projektowe">http://www.algorytm.org/wzorce-projektowe</a></li>
     </ul>

